*{
    font-family: 'Noto Serif SC', serif;
}

body{
    margin:0;
}

.body{
    background-image: url(/static/img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.body .middle .sides{
    width:25%;
    display: inline-block;
}

.center{
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: white;
    width: 50%;
    padding: 50px 30px 20px 30px;
    border-radius: 10px;
    display: inline-block;
}

.footer{
    width: 100%;
    height: 25vh;
    background-color: black;
    position: absolute;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
}

.heading h1{
    font-weight: bold;
}

.error{
    text-align: center;
    display: none;
}

.error p{
    color:red;
}

/* 20px 5px 0 5px */
.form-element{
    margin: 20px 5px 0 5px;
    border-bottom: 2px solid #c0bfbf;
}

/* 10px 5px 15px 5px */
.input{
    margin: 10px 5px 15px 5px;
    color: #c0bfbf;
}

.input i{
    width: 26px;
    text-align: center;
    font-size: 24px;
    display: inline-flex;
}

.input input{
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    margin: 0 10px;
    display: inline-flex;
    width: 70%;
}

/* 15px */
.forgot-password{
    margin-top: 15px;
    font-size: 15px;
    text-decoration: none;
}

.forgot-password::after {
    content: "";
    display: block;
    clear: both;
}

.forgot-password a{
    float: right;
    padding-right: 5px;
    color: #292828;
}
/* 20px */
.submit{
    text-align: center;
    margin: 20px 0;
}

.submit input{
    width: 100%;
    font-size: 20px;
    border-radius: 30px;
    outline: none;
    border:none;
    padding: 10px 0 10px 0;
    background-color: #ff1058;
    color: white;
}

/* 3px */
.create-acc{
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
}

.create-acc a{
    color: #292828;
}

@media only screen and (max-width:1000px){
    body{
        margin:0;
        background-image: url(/static/img/bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .body .middle .sides{
        width: 15%;
        display: inline-block;
    }
    
    .center{
        margin-top: 3%;
        margin-bottom: 3%;
        background-color: white;
        width: 70%;
        padding: 50px 30px 50px 30px;
        border-radius: 10px;
        display: inline-block;
    }
    
    .footer{
        width: 100%;
        height: 25%;
        background-color: black;
        position: absolute;
    }
}



@media only screen and (max-width:600px){

    body{
        margin:0;
        background-image: url(/static/img/bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .body .middle .sides{
        width: 12.5%;
        display: inline-block;
    }
    
    .center{
        margin-top: 3%;
        margin-bottom: 3%;
        background-color: white;
        width: 75%;
        padding: 50px 30px 50px 30px;
        border-radius: 10px;
        display: inline-block;
    }
    
    .footer{
        width: 100%;
        height: 25%;
        background-color: black;
        position: absolute;
    }

    .input{
        margin: 10px 5px 15px 5px;
        color: #c0bfbf;
    }
    
    .input i{
        width: 26px;
        text-align: center;
        font-size: 18px;
    }
    
    .input input{
        border: none;
        outline: none;
        background: none;
        font-size: 14px;
        margin: 0 10px;
    }
}

@media only screen and (max-width:350px){

    body{
        margin:0;
        background-image: url(/static/img/bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .body .middle .sides{
        width: 5%;
        display: inline-block;
    }
    
    .center{
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: white;
        width: 87%;
        padding: 50px 20px 50px 20px;
        border-radius: 10px;
        display: inline-block;
    }
    
    .footer{
        width: 100%;
        height: 25%;
        background-color: black;
        position: absolute;
    }

    .input{
        /* margin: 10px 5px 15px 5px; */
        color: #c0bfbf;
    }
    
    .input i{
        width: 26px;
        text-align: center;
        font-size: 20px;
    }
    
    .input input{
        border: none;
        outline: none;
        background: none;
        font-size: 14px;
        margin: 0 10px;
        width: 75%
    }
}
